{% extends 'main/base.html' %}
{% load mathfilters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dansang/dansang.css' %}">
{% endblock %}

{% block title %} 끄적끄적 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col col-10 text-center">
        <span class="archive-title">끄적끄적</span><span class="archive-icon">💬</span>
    </div>
    <div class="col col-12 text-center">
        <!-- <div class="archive-subtitle">문득 떠오르는 생각들의 기록</div> -->
        <div class="archive-subtitle">떠오르는 아무 생각이나. 자유롭게.</div>
    </div>
</div>

<div class="block-spacing"></div>
<!-- 
<div class="row justify-content-center only-authuser">
    <div class="col col-12 text-center">
        <a href="#"><img src="C:\Users\user\hiim\mvp\static\mvp\images\add.png"></a>
    </div>
</div> -->

<div class="row">
    <div class="col col-6 button-new">
        <a href="/dansang/dansanginput">
            <button class="all-buttons btn-lg btn-sm btn-primary">✒️ 생각 끄적이기</button>
        </a>
    </div>
    <div class="col col-6 button-input">
        <a href="/dansang/seed">
            <button class="all-buttons btn-lg btn-sm menial-buttons" id="tooltip-seed" data-toggle="tooltip" data-placement="right" title="다양한 인풋을 제공해드려요.">🌱 씨앗이 필요해요?</button>
        </a>
    </div>
</div>
<div class="block-spacing"></div>
{{categories}}
<!-- <div class="row">
    <div class="col col-6">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>씨앗 카테고리</strong>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="https://hiim.kr/dansang/seed">
                    <button class="dropdown-item" id="seeAllCat">전체 보기</button>
                </a>
              <div class="dropdown-divider"></div>
              {% for cat in categoriesInEng %}
                <a href="https://hiim.kr/dansang/seed/{{cat.id}}">
                    <button class="dropdown-item {{cat.category_eng}}" id="{{cat.category_eng}}">{{cat.in_kor}}</button>
                </a>
              {% endfor %}
            </div>
          </div>
    </div>
</div> -->

{% for item in posts %}
<div class="row justify-content-center">
    <div class="col col-12">
        <a href="{{item.url}}" class="all-links">
        <div class="row justify-content-center">
            <div class="col col-11 block-dansang">
                <span class="title">{{item.title}}</span><br class='mobile-only'>
                <span class="first-sentence"> | {{item.subtitle|safe}}</span>
            </div>
        </div>
        </a>
    </div>
</div>
<br class='mobile-only'>
<div class="block-spacing pc-only"></div>
{% endfor %}

<br>
<div class="row">
    <div class="col text-center">
        {% if posts.has_previous %}
        <a href="?page=1"><span class="pagination-buttons">처음</span></a>
        <a href="?page={{posts.previous_page_number}}"><span class="pagination-buttons"><</span></a>
        {% elif not posts.has_previous %}
        <a href=""><span class="pagination-buttons">처음</span></a>
        <a href=""><span class="pagination-buttons"><</span></a>
        {% endif %}
        <span>{{posts.number}}</span>
        <span>/</span>
        <span>{{posts.paginator.num_pages}}</span>
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}"><span class="pagination-buttons">></span></a>
        <a href="?page={{posts.paginator.num_pages}}"><span class="pagination-buttons">끝</span></a>
        {% elif not posts.has_next %}
        <a href=""><span class="pagination-buttons">></span></a>
        <a href=""><span class="pagination-buttons">끝</span></a>
        {% endif %}
    </div>
</div>
  
<!-- <div class="manual">
    <button class="btn manual-button" id="manual-dansang">
        📋 사용법
    </button>
</div> -->

<div class="block-spacing"></div>
<div class="block-spacing"></div>

<script>
$(function () {
    $('#tooltip-seed').tooltip()
  })
</script>
{% endblock %}

