{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'dansang/dansang.css' %}">

{% endblock %}

{% block title %} 단상 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col col-10">
      <h1 class="page-title">📝무슨 생각을 했어요?</h1>
  </div>
</div>

<form method="post" class="form-group">
  {% csrf_token %}
  <div class="row">
    <div class="col col-12">
      <div class="input-title">{{form.title|as_crispy_field}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="input-subtitle">{{form.subtitle|as_crispy_field}}</div>
    </div>
    <br class="mobile-only"><br class="mobile-only">
    <div class="col-lg-4 col-sm-6">
      <div class="input-img">{{form.img|as_crispy_field}}</div>
    </div>
  </div>

  <!-- <div class="block-spacing"></div> -->
  
  {% autoescape off %}
  <div class="row">
    <div class="col col-12 input-content">
      {{form.media}}
      {{form.contents|as_crispy_field|safe}}
    </div>
  </div>
  {% endautoescape %}
  <div class="row">
    <div class="col">
      <button type='submit' class="btn menial-buttons"
      onclick="gtag('event', 'Click', {
        'event_category': '끄적끄적',
        'event_label' : 'Post'
      });">
        생각 한 편 저장
      </button>
    </div>
  </div>
      
</form>
<div class="block-spacing"></div>
<div class="block-spacing"></div>


  
{% endblock %}
