{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'dansang/dansang.css' %}">
{% endblock %}

{% block title %} 끄적끄적 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>
<div class="block-spacing">

</div>
<div class="row">
    <div class="col detail-title">
        <div class="row">
            <div class="col col-10">
                <h1 id="detail-title">{{thisDansang.title}}</h1>
            </div>
            <div class="col col-2 text-right go-to-main">
                <a href="/dansang/dansangmain">💬</a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <h3 id="detail-subtitle">{{thisDansang.subtitle|safe}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center detail-dates">
    <div class="col col-12 text-right">
        <!-- <div class="detail-created">쓰여진 날짜: {{thisDansang.created}}</div>
        <div class="detail-modified">마지막으로 수정된 날짜: {{thisDansang.modified}}</div> -->
        <div class="detail-created">{{thisDansang.created}}</div>
    </div>
</div>

<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-6 text-center">
        {% if thisDansang.img %}
        <img src="{{thisDansang.img.url}}" class="dansang-img" alt="🤔이미지가 어디갔지?"><br>
    {% else %}
        <img class="default-img" src="{% static 'mvp/images/ci.png' %}">
    {% endif %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="detail-contents">
            {{thisDansang.contents|safe}}
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<form method='post' class="form-group">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-8">
            <div class="row justify-content-center">
                <div class="col col-5 update-delete">
                    <button class='btn menial-buttons button-update'>
                        <span class="menial-btn-text"><a href="{% url 'dansangUpdate' thisDansang.authuser_id thisDansang.slug %}">
                        수정하기</a></span>
                    </button>
                </div>
                <div class="col col-5 update-delete">
                    <button class='btn menial-buttons button-delete'>
                        <span class="menial-btn-text"><a href="{% url 'dansangDelete' thisDansang.authuser_id thisDansang.slug %}">
                        삭제하기</a></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="block-spacing"></div>

<script>
    $(document).on('click', '.button-delete', function(){
        return confirm('이 생각을 지울까요?');
    })
</script>
{% endblock %}