{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dansang/dansang.css' %}">
{% endblock %}

{% block title %} 끄적끄적 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col col-10">
      <h1 class="page-title">📝무슨 생각을 했어요?</h1>
  </div>
</div>
<form method="post" class="form-group" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col col-12">
      <div class="input-title">{{form.title|as_crispy_field}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="input-subtitle">{{form.subtitle|as_crispy_field}}</div>
    </div>

    <br class="mobile-only"><br class="mobile-only">

    <div class="col-lg-4 col-sm-6">
      <div class="input-img">{{form.img|as_crispy_field}}</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-2 col-sm-3 cat-dropdown">
      <span class="dropdown">
        <button class="btn menial-buttons dropdown-toggle" id="cat-dropdown-input" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>🔖 카테고리</span>
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" id="newCat">새 카테고리</button>
              <div class="dropdown-divider"></div>
              {% for category in categories %}
                  {% for cid, cname in category.items %}
                  <button class="dropdown-item original-cat" id="cat-{{cid}}">{{cname}}</button>
                  {% endfor %}
              {% endfor %}
          </div>
      </span>
    </div>
    <div class="col-lg-2 col-sm-3 cat-field">
      <div class="input-category">{{form.category|as_crispy_field}}</div>
    </div>
  </div>

  <!-- <div class="block-spacing"></div> -->
  
  {% autoescape off %}
  <div class="row">
    <div class="col col-12 input-content">
      {{form.media}}
      {{form.contents|as_crispy_field|safe}}
    </div>
  </div>
  {% endautoescape %}
  <div class="row">
    <div class="col">
      <button type='submit' class="btn menial-buttons"
      onclick="gtag('event', 'Click', {
        'event_category': '끄적끄적',
        'event_label' : 'Post'
      });">
        생각 한 편 저장
      </button>
    </div>
  </div>
      
</form>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<script>
  $(document).ready(function(){
    $('.cat-field').hide();

    $('.dropdown-toggle').dropdown();

    // 새 카테고리 선택시
    $('#newCat').click(function() {
      $('.cat-field').show();
    });

    // 기존 카테고리 선택시
    $('.original-cat').click(function() {
      var thisCat = $(this).text();
      console.log(thisCat);
      $.escapeSelector('#id_category').html(thisCat);
      //$('#id_category').html(thisCat);

    });

});
</script>
{% endblock %}
