{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'style_dansang.css' %}">
{% endblock %}

{% block title %} 단상 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>
<div class="block-spacing">

</div>
<div class="row">
    <div class="col detail-title">
        <div class="row">
            <div class="col col-10">
                <h1>{{thisDansang.title}}</h1>
            </div>
            <div class="col col-2 text-right">
                <a href="/everyday/everydaymain">📅</a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <h3 id="detail-subtitle">{{thisDansang.subtitle|safe}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center detail-dates">
    <div class="col col-12 text-right">
        <div class="detail-created">쓰여진 날짜: {{thisDansang.created}}</div>
        <div class="detail-modified">마지막으로 수정된 날짜: {{thisDansang.modified}}</div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="detail-contents">
            {{thisDansang.contents|safe}}
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<form method='post' class="form-group">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col col-4">
            <div class="row justify-content-center">
                <div class="col col-5">
                    <button class='btn menial-buttons button-update'>
                        <span class="menial-btn-text"><a href="{% url 'dansangUpdate' thisDansang.authuser_id thisDansang.slug %}">
                        수정하기</a></span>
                    </button>
                </div>
                <div class="col col-5">
                    <button class='btn menial-buttons button-delete'>
                        <span class="menial-btn-text"><a href="{% url 'dansangDelete' thisDansang.authuser_id thisDansang.slug %}">
                        삭제하기</a></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="block-spacing"></div>
{% endblock %}