{% extends 'main/base.html' %}
{% load mathfilters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'dansang/dansang.css' %}">
{% endblock %}

{% block title %} 생각의 씨앗 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row top-block">
    <div class="col col-12 text-left">
        <span class="archive-title">생각의 씨앗</span><span class="archive-icon">🌱</span>
    </div>
    <div class="col col-12 text-left">
        <div class="archive-subtitle">다채로운 생각과 관점을 갖기 위해서는 다양한 <span class="seed-intro">인풋(input)</span>이 필수라고 믿어요.<br>
            이러한 자극들은 좋은 <span class="seed-intro">생각의 씨앗</span>이 되어 언젠가는 나만의 <span class="seed-intro">아웃풋(output)</span>으로 자라납니다! </div>
    </div>
</div>

<div class="block-spacing"></div>


<br>

{% for item in seed %}
<div class="row seed-row">
    <a href="{{seed.url}}" class="all-links">
    <div class="col">
        <div class="seed-title">{{seed.title|safe}}</div>
        <div class="seed-subtitle">{{seed.subtitle|safe}}</div>
    </div>  
    </a>
</div>
{% endfor %}

<div class="manual">
    <button class="btn manual-button" id="manual-dansang">
        📋 사용법
    </button>
</div>
<!-- </div> -->
<div class="block-spacing"></div>
<div class="block-spacing"></div>
{% endblock %}