{% extends 'main/base.html' %}
{% load mathfilters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'dansang/dansang.css' %}">
{% endblock %}

{% block title %} 생각의 씨앗 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row top-block">
    <div class="col col-12 text-left">
        <span class="archive-title">생각의 씨앗</span><span class="archive-icon">🌱</span>
    </div>
    <div class="col col-9 text-left">
        <div class="archive-subtitle">다채로운 생각과 관점을 갖기 위해서는 다양한 <strong>인풋(input)</strong>이 필수라고 믿어요. 
            이러한 자극들은 좋은 <strong>생각의 씨앗</strong>이 되어 언젠가는 나만의 <strong>아웃풋(output)</strong>으로 자라날 거예요! </div>
    </div>
</div>

<div class="block-spacing"></div>


<br>
{{seed.title}}

<div class="manual">
    <button class="btn manual-button" id="manual-dansang">
        📋 사용법
    </button>
</div>
<!-- </div> -->
<div class="block-spacing"></div>
<div class="block-spacing"></div>
{% endblock %}