{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'register/register.css' %}">
{% endblock %}

{%block title%} 로그인 {%endblock%}

{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col-5 login-block">
        <div class="row">
            <div class="col text-center">
                <div class="bangap"> 😃 <span class="highlight">또 봐서 반가워요!</span></div>
            </div>
        </div>
        <form method="post" class="form-group">{% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-11">
                    {{form.username|as_crispy_field}}
                    <div class="helptext" id="username-means-id">가입할 때 입력한 '아이디'를 입력해주세요!</div>
                </div>
                <div class="col-11">
                    {{form.password|as_crispy_field}}
                </div>
                <div class="col col-12 text-center">
                    <button type="submit" class="btn minor-button">로그인</button>
                </div>
            </div> 
        </form>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

{% endblock %}