.block-dansang {
    /* border-top : 1px black solid; */
    border-radius: 5px;
    border-left: 1px black solid;
    /* border-right: 1px black solid; */
}
/* .block-dansang:hover{
    border-radius: 10px;
    background: #f6f5f1;
    box-shadow:  5px 5px 3px #bbbab7, 
    -5px -5px 3px #ffffff;
} */
.title {
    font-weight: bold;
    font-size: 21px;
    padding-top: 10px;
}
.first-sentence {
    /* padding-bottom: 10px; */
    font-size: 13px;
}
.border-line {
    border-radius: 10px;
    border: solid #9300d3 4px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.input-title {
    background-color: #f6f5f1;
    border: none;
    height: 80px;
}
.input-subtitle {
    background-color: #f6f5f1;
    border: none;
    margin-bottom: -50px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

