html, body {
    width: 100%;
    height: 100%;
}
.h-25 {
    width: 100%;
}
.main-first-page {
    /* width: 100vw; */
    height: 100vh;
    border-bottom: 2px lightgrey solid;
    /* background: url(mvp/images/4.jpg) no-repeat 50% 50%; */
}
.usermain-block {
    background-color: #f6f5f1;
    /* height: 150px; */
    display: inline-block;
    vertical-align: middle;
}
.container {
    width: 100%;
    height: 100%;
}
.main-second-page {
    width: 100vw;
    height: 100vh;
}
.empty-row-lower {
    height: 45%;
}
.usermain-ci {
    width : 150px;
}
#usermain-ci {
    padding-top: 10px;
    text-align: center;
}
.usermain-name {
    margin: auto;
    font-size: 55px;
    letter-spacing: 5px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}
.new {
    font-size: 40% !important;
    vertical-align: text-top;
    height: 12px;
}
.so-far {
    font-size: 1.25rem
}
.block {
    border-radius: 10px;
    border: #9300d3 2px solid;
    padding-top: 10px;
    padding-bottom: 20px;
}
.usermain-intro {
    white-space: pre-line;
    font-size: 21px;
    /* white-space: pre-wrap; */
}
.scroll-down-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* 아래부터 second page */
.social-media {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
} 
.my-archive {
    font-size: 21px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}
.usermain-emoji {
    font-size: 80px;
}
.usermain-archive-content {
    /* display: flex; */
    align-items: center;
}
.usermain-archive-content:active{
    box-shadow: inset 8px 8px 8px #bbbab7, 
    inset -8px -8px 8px #ffffff;
}
.img-websites {
    height: 30px;
    width: auto;
    box-shadow: 2px 2px 1px #bbbab7, -2px -2px 1px #ffffff;
    padding: 3px;
    border-radius: 5px;
}
.img-add-archive {
    height: 40px;
    width: 40px;
}
.img-add-object {
    height: 30px;
    width: 30px;
}
.usermain-archive-name {
    font-weight: bolder;
    font-size: 34px;
}
.usermain-archive-desc {
    font-size: 13px;
}
.archive-block {
    height: 130px;
}
.new-sth-alert {
    position: absolute;
    top: -10px;
    font-size: 13px;
    right: -10px;
    padding: 8px 5px;
    border-radius: 50%;
}
#new-question {
    padding: 8px 8px;
}
.coming-soon {
    border : rgb(124, 123, 123) 1px dashed;
    border-radius: 10px;
}
/* Input */
#in-addition {
    font-weight: bold;
    padding-top: 10px;
}
#in-addition-sub {
    font-size: 17px;
    padding-bottom: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
    }
    .main-first-page {
        width: 100vw;
        height: 100vh;
    }
    .usermain-block {
        background-color: #f6f5f1;
        display: inline-block;
        vertical-align: middle;
    }
    .ci-and-name {
        align-items: center;
    }
    .usermain-ci {
        width : 45%;
    }
    #usermain-ci {
        padding-top: 10px;
        align-items: center;
        display: flex;
    }
    .usermain-name {
        margin: auto;
        /* font-size: 55px; */
        font-size: 10vw;
        letter-spacing: 5px;
        text-align: left;
        font-weight: bold;
        cursor: pointer;
    }
    .usermain-intro {
        white-space: pre-line;
        /* font-size: 21px; */
        font-size: 4vw; /* or 3vw */
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .main-second-page {
        width: 100vw;
        height: 100vh;
    }
    .img-websites {
        height: 7vw;
        width: auto;
        box-shadow: 2px 2px 1px #bbbab7, -2px -2px 1px #ffffff;
        padding: 3px;
        border-radius: 5px;
    }
    .so-far {
        font-size: 1rem
    }
    .archive-outer-block {
        padding-bottom: 20px;
    }
    .archive-block {
        height: 130px;
    }
    .usermain-archive-name {
        font-weight: bolder;
        font-size: 8vw;
    }
    
    .usermain-archive-desc {
        font-size: 3.5vw;
    }

    .empty-row-lower {
        height: 45%;
    }
 
    .block {
        border-radius: 10px;
        border: #9300d3 2px solid;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .scroll-down-img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .social-media {
        padding-top: 30px;
        padding-bottom: 20px;
    } 
    .my-archive {
        font-size: 21px;
        /* padding-top: 5px;
        padding-bottom: 5px; */
    }
    .usermain-emoji {
        font-size: 80px;
    }
    .usermain-archive-content {
        /* display: flex; */
        align-items: center;
    }
    .usermain-archive-content:active{
        box-shadow: inset 8px 8px 8px #bbbab7, 
        inset -8px -8px 8px #ffffff;
    }

    .img-add-archive {
        height: 40px;
        width: 40px;
    }
    .img-add-object {
        height: 30px;
        width: 30px;
    }
    .coming-soon {
        border : rgb(124, 123, 123) 1px dashed;
        border-radius: 10px;
    }
    /* Input */
    #in-addition {
        font-weight: bold;
        padding-top: 10px;
    }
    #in-addition-sub {
        font-size: 17px;
        padding-bottom: 20px;
    }
}