option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: <arn:aws:acm:ap-northeast-2:970248624873:certificate/670aee47-7c3b-4c7d-b9e1-ce77d748df40>
    Protocol: HTTPS
Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP