/* Main page START */
table {
    width: 100%;
}
td{
    text-align: center;
    font-size: 21px;
    border:2px;
    border-radius: 8px; /* 모서리 둥글게 */
}
.sevenDays {
    border: 1px black solid;
} 
#yearMonth {
    width: 100px;
    font-size: 34px;
}
.prevNext {
    width: 130px;
}
.prevNextButtons {
    font-size: 21px;
    vertical-align: middle;
    border-radius: 30px;
    /* .btn 기본 설정이 shadow를 주는 건데, 이건 그렇게 하면 안 예뻐서 예외처리! */
    box-shadow : none; 
}
.prevNextButtons:hover {
    box-shadow:  2px 2px 1px #bbbab7, 
     -2px -2px 1px #ffffff;
}
.eachRow {
    height: 120px;
}
.eachDate {
    text-align: right;
    padding-right: 10px;
    margin-top: -10px;
}
td[date] {
    width: 130px;
}
.todayCell {
    box-shadow:  3px 3px 2px #bbbab7, 
    -3px -3px 2px #ffffff;
}
#sun {
    /* color: red; */
}
#sat {
    /* color: blue; */
}
.keywords {
    font-size: 13px;
    color: #9300d3;
}
.empty {
    color: #f6f5f1;
    font-size: 13px;
}
/* Main page END */

/* Create page START */
.keywordInputs {
    width: 125px;
}
.d-flex {
    box-shadow: none;
    /* 원래 form-control에 inset shadow가 들어가서 그걸 해제하기 위한 설정. */
}
.kw-emoji-text {
    font-size: 21px;
}
/* Create page END */

/* Detail page START */
.everyday-img {
    width: 100%;
    height: auto;
}
.img-col {
    padding: 2.5px;
}
/* Detail page END */


@media (max-width: 768px) {
    .mobile-only {
        display: block
        /* 원래 base.css에서는 inline인데, 여기서는 inline으로 하면 이상해져서 block으로 */
    }

    /* Main page START */
    td{
        text-align: center;
        /* font-size: 21px; */
        border:2px;
        border-color:#3333FF;
        border-radius: 8px;/*모서리 둥글게*/
    }
    .eachRow {
        height: 60px; /* For some reason 92.8px 아래로는 차이가 없음 */
    }
    .empty {
        height: 20px;
        font-size: 1vw;
    }
    .eachDate {
        font-size: 3vw;
    }
    .td[date] {
        width: 20vw;
    }
    .thisIsToday {
        box-shadow:  2px 2px 1px #bbbab7, 
        -2px -2px 1px #ffffff;
    }
    .prevNext {
        width: auto;
    }
    .prevNextButtons {
        font-size: 4vw;
        vertical-align: middle;
        border-radius: 30px;
    }
    .prevNextButtons:hover {
        box-shadow: none;
    }
    .sevenDays {
        font-size: 3vw;
    }
    #yearMonth {
        font-size: 5vw;
        width: 100%;
    }
    .main-emoji {
        font-size: 4vw;
    }
    /* Main page END */

    /* Create page START */
    .keywordInputs {
        width: 50%
    }
    .kw-emoji-text {
        font-size: 4vw;
    }
    .keywords {
        font-size:3vw;
        width: 75%;
    }
    .emoji {
        width: 15%;
        font-size: 3vw;
    }
    /* Create page END */

    /* Detail page START */
    /* Detail page END */
}