#today {
    font-size: 30px;
    font-weight: bold;
}
.keywordInputs {
    width: 125px;
    background-color: #f6f5f1;
    /* padding-left: 10px; */
}
.keywordInputs:focus{
    background-color: #f6f5f1;
    border: #9300d3 solid 1px;
}
.kw12 {
    margin-right: 20px;
}
/* .emoji {
    width: 70px;
} */
/* #emoji-helptext {
    margin-top : -15px;
} */
.button-today {
    text-align: center;
}
/* .calendar {
    margin-top: -50px;
} */
.button-add {
    font-size: 21px;
    font-style: bold;
    height: 30px;
    vertical-align: middle;
}
/* #mainBar {
    width: 100%;
    height: 100%;
} */
table {
    width: 100%;
}
td{
    /* width: 100%;
    height: 100%; */
    text-align: center;
    font-size: 21px;
    border:2px;
    border-color:#3333FF;
    border-radius: 8px;/*모서리 둥글게*/
}
.sevenDays {
    border: 1px black solid;
}
#tbCalendarYM {
    width: 100px;
    font-size: 34px;
}
.prevNext {
    width: 130px;
}
.prevNextButtons {
    font-size: 18px;
    box-shadow:  3px 3px 3px #bbbab7, 
     -3px -3px 3px #ffffff;
    height: 35px;
    vertical-align: middle;
}
.eachRow {
    height: 120px;
}
.eachDate {
    text-align: right;
    padding-right: 10px;
    margin-top: -10px;
}
td[date] {
    width: 130px;
    /* border: grey solid 1px; */
}
.thisIsToday {
    box-shadow:  2px 2px 1px #bbbab7, 
    -2px -2px 1px #ffffff;
}
#sun {
    /* color: red; */
}
#sat {
    /* color: blue; */
}
.keywords {
    font-size: 14px;
    color: #9300d3;
    /* font-weight: bold; */
}
.addBtn {
    color: #f6f5f1;
}
.empty {
    color: #f6f5f1;
    font-size: 13px;
}
#what {
    font-size: 17px;
}
.custom-file-label {
    background-color: #f6f5f1 !important;
}
.custom-file-label::after {
    content: "사진 넣기" !important;
}
/* 바로 아래 이거 왜 안되지
.everyday-default-img {
    display: none;
} */
.calendar-img {
    width: 50px;
    height: auto;
}

@media (max-width: 768px) {
    .mobile-only {
        display: block
        /*원래 base.css에서는 inline인데, 여기서는 inline으로 하면 이상해져서 block으로 */
    }

    /* Main page START */
    td{
        text-align: center;
        /* font-size: 21px; */
        border:2px;
        border-color:#3333FF;
        border-radius: 8px;/*모서리 둥글게*/
    }
    .eachRow {
        height: 60px; /* For some reason 92.8px 아래로는 차이가 없음 */
    }
    .empty {
        height: 20px;
        font-size: 1vw;
    }
    .eachDate {
        font-size: 3vw;
    }
    .td[date] {
        width: 20vw;
    }
    .prevNextButtons {
        font-size: 18px;
        vertical-align: middle;
        box-shadow: none;
    }
    .sevenDays {
        font-size: 3vw;
    }
    #tbCalendarYM {
        width: 100px;
        font-size: 5vw;
        font-weight: bold;
    }
    /* Main page END */

    /* Input page START */
    #div_id_when {
        width: 50%;
    }
    #id_when {
        font-size: 3.5vw;
    }
    #what {
        font-size: 3.5vw;
    }
    .keywordInputs {
        width: 50%
    }
    .keywords {
        font-size:3vw;
    }
    .emoji {
        width: 15%;
        font-size: 3vw;
    }
    .main-emoji {
        font-size: 4vw;
        height: 20px; /*흠*/
    }
    /* Input page END */

    /* Detail page START */

    /* Detail page END */
}