{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'register/register.css' %}">
{% endblock %}

{%block title%}회원가입{%endblock%}

{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col col-7">
        <h1 class="page-title">😃 <span class="highlight">반갑습니다!</span></h1>
    </div>
</div>

<form method="post" class="form-group">{% csrf_token %}
    <div class="row login-block">
        <div class="col">
                <div class="row">
                    <div class="col col-4">
                        {{form.username|as_crispy_field}}
                    </div>
                    <div class="col col-8">
                        {{form.email|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-5">
                        {{form.password1|as_crispy_field}}
                    </div>
                    <div class="col col-5">
                        {{form.password2|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <button type="submit" class="btn menial-buttons">시작하기</button>
                    </div>
                    
                </div>
        </div>
    </div>
</form> 


{% endblock %}

