{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'register/register.css' %}">
{% endblock %}

{%block title%} 반갑습니다! {%endblock%}

{% load crispy_forms_tags %}

{% block content %}

<div class="h-25"></div>

<div class="row justify-content-center">
    <div class="col-6 all-blocks">
        <div class="row">
            <div class="col text-left">
                <div class="page-title">😃 <span class="highlight">반갑습니다!</span></div>
            </div>
        </div>
        <div class="row">
            <form method="post" class="form-group">{% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-11">
                        {{form.username|as_crispy_field}}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        {{form.email|as_crispy_field}}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        {{form.password1|as_crispy_field}}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        {{form.password2|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button type="submit" class="btn menial-buttons">시작하기</button>
                        <div class="helptext">계정이 있으세요? <a href="/login" id="register-here">로그인</a> 해주세요!</div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>



{% endblock %}

