{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'register/register.css' %}">
{% endblock %}

{%block title%} 반갑습니다! {%endblock%}

{% load crispy_forms_tags %}

{% block content %}

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col-5 login-block">
        <div class="row">
            <div class="col text-center">
                <div class="bangap">😃 <span class="highlight">처음 뵙겠습니다!</span></div>
            </div>
        </div>
        <form method="post" class="form-group">{% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-11">
                    {{form.username|as_crispy_field}}
                </div>
                <div class="col-11">
                    {{form.email|as_crispy_field}}
                </div>
                <div class="col-11">
                    {{form.password1|as_crispy_field}}
                </div>
                <div class="col-11">
                    {{form.password2|as_crispy_field}}
                </div>
                <div class="col-10 text-center">
                    <button type="submit" class="btn minor-button">시작하기</button>
                    <div class="helptext">계정이 있으세요? <a href="/login" id="register-here">로그인</a> 해주세요!</div>
                </div>
            </div> 
        </form>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

{% endblock %}

