{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'qanda/qanda.css' %}">
{% endblock %}

{% block title %} 즉문즉답 {% endblock %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col col-10 text-center">
        <span class="archive-title">즉문즉답</span><span class="archive-icon">❓</span>
    </div>
    <div class="col col-12 text-center">
        <div class="archive-subtitle">하루에 하나씩 채우는 {{thisUser.name}}의 빈칸.   
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="block-spacing pc-only"></div>

        <div class="row justify-content-center">
            <div class="col text-center">
                {% for q in questions %}
                {% if q.number <= latestQuestionNumber %}
                    <a href="answer/{{q.number}}" class="card">
                        <h5 class="main-questions" id="{{q.number}}">{{q.number}} | {{q.question|safe}} <span class="badge badge-primary count-answer"></span></h5>
                    </a>
                {% endif %}
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col text-center">
        {% if posts.has_previous %}
        <a href="?page=1"><span class="pagination-buttons">처음</span></a>
        <a href="?page={{posts.previous_page_number}}"><span class="pagination-buttons"><</span></a>
        {% elif not posts.has_previous %}
        <a href=""><span class="pagination-buttons">처음</span></a>
        <a href=""><span class="pagination-buttons"><</span></a>
        {% endif %}
        <span>{{posts.number}}</span>
        <span>/</span>
        <span>{{posts.paginator.num_pages}}</span>
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}"><span class="pagination-buttons">></span></a>
        <a href="?page={{posts.paginator.num_pages}}"><span class="pagination-buttons">끝</span></a>
        {% elif not posts.has_next %}
        <a href=""><span class="pagination-buttons">></span></a>
        <a href=""><span class="pagination-buttons">끝</span></a>
        {% endif %}
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>

<script>
    $(function () {
        $('#tooltip-qanda').tooltip()
      })
    
    $(document).ready(function() {
        console.log('{{countAnswer}}');
        console.log('{{countAnswer.3}}');
        
        var total = Object.keys('{{countAnswer}}').length;
        for (var i in _.range(1, total)) {
            $('.main-questions').children(`#${i}`).children('.count-answer').html('{{countAnswer.`${i}`}}');
        }
        
    });
</script>
{% endblock %}