{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'qanda/qanda.css' %}">
{% endblock %}

{% block title %} 즉문즉답 {% endblock %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col col-10 text-center">
        <span class="archive-title">즉문즉답</span><span class="archive-icon">❓</span>
    </div>
    <div class="col col-12 text-center">
        <div class="archive-subtitle">하나의 질문과 무수히 많은 정답.   
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="row">
            <div class="col text-left">
                <a href="question"><button class="btn btn-primary">오늘의 즉문</button></a>
            </div>
        </div>

        <div class="block-spacing"></div>

        <div class="row justify-content-center">
            <div class="col text-center">
                {% for q in thisQuestion %}
                {% if q.number <= latestQuestionNumber %}
                    <a href="answer/{{q.number}}"><h3 class="main-questions" id="{{q.number}}">{{q.number}}. {{q.question|safe}}</h3></a>
                {% endif %}
                <div class="block-spacing"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}