{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'qanda/qanda.css' %}">
{% endblock %}

{% block title %} 즉문즉답 {% endblock %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col col-10 text-center">
        <span class="archive-title">즉문즉<span style="color: #9300d3;">답</span></span><span class="archive-icon">❓</span>
    </div>
    <div class="col col-12 text-center">
        <div class="archive-subtitle">하나의 질문과 무수히 많은 정답.   
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-12 text-center"><br>
        <h3 class="questions">{{thisQuestion.question|safe}}</h3>
    </div>
    <div class="col col-12 text-center">
        {% for a in thisAnswer %}
        <div class="answer">{{a.answer}}<span class="qanda-date"> ({{a.dateAnswered}})</span></div><br>
        {% endfor %}
    </div>
</div>

<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-8">
        <div class="row justify-content-center">
            <div class="col col-5">
                <button class='btn menial-buttons'>
                    <span class="menial-btn-text"><a href="qandamain">
                    돌아가기</a></span>
                </button>
            </div>
            <div class="col col-5">
                <button class='btn menial-buttons update-delete'>
                    <span class="menial-btn-text"><a href="{% url 'qandaUpdate' thisQuestion.number %}">
                    수정/추가하기</a></span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}