{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'qanda/qanda.css' %}">
{% endblock %}

{% block title %} 즉문즉답 {% endblock %}

{% load crispy_forms_tags %}
<!-- {% load bootstrap4 %} -->

{% block content %}
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col-10 text-center">
        <span class="archive-title">즉<span style="color:#9300d3; font-weight: bold;">문</span>즉답</span><span class="archive-icon">❓</span>
    </div>
    <div class="col-12 text-center">
        <div class="archive-subtitle">하루에 하나씩 채우는 {{thisUser.name}}의 빈칸.   
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing pc-only"></div>

<div class="row justify-content-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <span class="badge badge-primary qanda-question-category">#{{thisQuestion.category}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <div class="qanda-question">{{thisQuestion.question|safe}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    <div class="inputfield-answer">
                        {% crispy formset %}
                        <input type="submit" class="btn minor-button" value="즉답 완료">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>

{% endblock %}