/* Main page settings START */
.block-dansang {
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow:  3px 3px 2px #bbbab7, 
    -3px -3px 2px #ffffff;
}
.block-dansang:hover {
    box-shadow:  5px 5px 3px #bbbab7, 
    -5px -5px 3px #ffffff;
}
.block-dansang:active {
    box-shadow: inset 3px 3px 2px #bbbab7, 
    inset -3px -3px 2px #ffffff;
}
.title {
    font-weight: 800;
    font-size: 34px;
    padding-top: 10px;
}
.first-sentence {
    font-size: 21px;
}
/* Main page Settings END*/

/* Create page settings START */
.inputfield-title {
    height: 80px;
}
.row-subtitle {
    margin-top: 10px;
}
.cat-field {
    padding-left: 0px;
}
/* Create page settings END */

/* Detail page settings START */
.dansang-img, .default-img {
    width: 100%;
    height: auto;
}
/* Detail page settings END */

/* Seed page settings START */
.helptext {
    margin-top: 3px;
}
.seed-row {
    border-bottom: 1px black solid;
    padding-bottom : 10px;
    padding-top: 25px;
}
.seed-intro {
    font-weight: bold;
    color: #9300d3;
}
.seed-title {
    font-size: 29px;
    font-weight: bold; 
}
.seed-subtitle {
    font-size:18px;
}
.seed-badge {
    font-size: 40% !important;
    vertical-align: top;
}
.dansang-img {
    width: 100%;
    height: auto;
}
.seed-links:visited {
    color: darkgrey;
}
#tooltip-seed {
    border: none;
}
/* Seed page settings END */

/* Summernote (WYSIWYG editor) settings START */
.note-editable span {
    background-color: #f6f5f1 !important;
    font-size: 17px !important
}
.card-block {
    border: #f6f5f1 1px solid;
    font-size: 17px;
    background-color: #f6f5f1;
}
.note-editable {
    background-color: #f6f5f1 !important;
    line-height: 1.75 !important;
}
.card-header {
    background-color: #f6f5f1 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.show {
    background-color: #f6f5f1;
}
.note-btn {
    background-color: #f6f5f1 !important;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #bbbab7, 
     -2px -2px 1px #ffffff;
}
.note-frame {
    border: none !important;
}
/* Summernote settings END */

@media (max-width: 768px) {
    /* Main page settings START */
    .block-dansang {
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .title {
        font-size: 5vw;
        margin-bottom: 5px;
    }
    .first-sentence {
        font-size: 4vw;
    }
    /* Main page settings END */
    .card-block {
        font-size: 3.5vw !important;
    }

    /* Create page settings START */ 
    #id_title {
        padding-bottom: 0px;
        font-size: 8vw !important;
        /* 위에 font-size는 forms.py에서 이미 정해져있어서 변경이 무시되나봄. 그래서 필살기 발동 */
    }
    #id_subtitle, #id_category {
        font-size: 3.5vw !important;
    }
    .inputfield-title {
        height: 10vw;
    }
    .custom-file {
        width: 50%;
        margin-left: 10px;
    }
    /* Create page settings END */

    /* Seed page */
    .seed-row {
        border-bottom: 1px black solid;
        padding-bottom : 10px;
        padding-top: 25px;
    }
    .seed-intro {
        font-weight: bold;
        color: #9300d3;
    }
    .seed-title {
        font-size: 4.5vw;
        font-weight: bold; 
    }
    .seed-subtitle {
        font-size: 3.5vw;
    }
    .seed-badge {
        font-size: 60% !important;
    }
}