.block-dansang {
    border: 1px lightgrey solid;
    border-radius: 10px;
}
.block-dansang:hover {
    box-shadow:  5px 5px 3px #bbbab7, 
    -5px -5px 3px #ffffff;
    border: none;
}
.block-dansang:active {
    box-shadow: inset 5px 5px 3px #bbbab7, 
    inset -5px -5px 3px #ffffff;
    border: none;
}
.title {
    font-weight: bold;
    font-size: 21px;
    padding-top: 10px;
}
.first-sentence {
    font-size: 13px;
}
.border-line {
    border-radius: 10px;
    border: solid #9300d3 4px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: -15px;
    margin-right: -15px;
}
/* Input settings START */
.input-title {
    background-color: #f6f5f1;
    border: none;
    height: 80px;
}
.input-subtitle {
    background-color: #f6f5f1;
    border: none;
    margin-bottom: -50px;
}
#id_subtitle {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.input-img {
    background-color: #f6f5f1;
}
/* Input settings END */
.card-block {
    font-size: 17px !important;
}
.doyou-need-input {
    font-size: 13px;
    height: 25px;
    width: 140px;
    padding-bottom: 10px;
}
.button-input {
    text-align: right;
}
.helptext {
    margin-top: 3px;
}
.seed-row {
    border-bottom: 1px black solid;
    padding-bottom : 10px;
    padding-top: 25px;
}
.seed-intro {
    font-weight: bold;
    color: #9300d3;
}
.seed-title {
    font-size: 29px;
    font-weight: bold; 
}
.seed-subtitle {
    font-size:18px;
}
.seed-badge {
    font-size: 40% !important;
    vertical-align: top;
}
.dansang-img {
    width: 100%;
    height: auto;
}

/* Summernote settings -- somehow doesn't work in summernote.css */
.note-editable span {
    background-color: #f6f5f1 !important;
    font-size: 17px !important
}

@media (max-width: 768px) {
    /* Main page */
    .block-dansang {
        border: 1px lightgrey solid;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .title {
        /* font-weight: bold; */
        font-size: 4vw;
        /* padding-top: 10px; */
        margin-bottom: 5px;
    }
    .first-sentence {
        font-size: 2.5vw;
    }
    .border-line {
        border-radius: 10px;
        border: solid #9300d3 4px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .card-block {
        font-size: 17px !important;
    }
    .doyou-need-input {
        font-size: 13px;
        height: 25px;
        width: 140px;
        padding-bottom: 10px;
    }
    .button-input {
        text-align: right;
    }
    .helptext {
        margin-top: 3px;
    }

    /* Input page */ 
    #id_title {
        padding-bottom: 0px;
        font-size: 8vw !important;
        /* 위에 font-size는 forms.py에서 이미 정해져있어서 변경이 무시되나봄. 그래서 필살기 발동 */
    }
    #id_subtitle {
        font-size: 3.5vw !important;
    }
    .input-title {
        background-color: #f6f5f1;
        border: none;
        height: 15vw;
    }
    .input-subtitle {
        background-color: #f6f5f1;
        border: none;
        margin-bottom: -50px;
    }
    .input-content {
        /* line-height: 1.2; */
    }

    /* Detail page */


    /* Seed page */
    .seed-row {
        border-bottom: 1px black solid;
        padding-bottom : 10px;
        padding-top: 25px;
    }
    .seed-intro {
        font-weight: bold;
        color: #9300d3;
    }
    .seed-title {
        font-size: 4.5vw;
        font-weight: bold; 
    }
    .seed-subtitle {
        font-size: 3.5vw;
    }
    .seed-badge {
        font-size: 60% !important;
    }
}