.card-block {
    border: #f6f5f1 1px solid;
    font-size: 18px;
    background-color: #f6f5f1;
}
.note-editable {
    background-color: #f6f5f1 !important;
    line-height: 1.2 !important;
}
.card-header {
    padding-top: 40px !important;
    background-color: #f6f5f1 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.show {
    background-color: #f6f5f1;
}
.note-btn {
    background-color: #f6f5f1 !important;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #bbbab7, 
     -2px -2px 1px #ffffff;
}
.note-frame {
    border: none !important;
}
