label {
    display: none;
}
.questions {
    font-weight: bold;
    line-height: 1.5;
}
.answerInput {
    border-radius:3px;
    width:70%;
    padding: 10px;
    background-color: #f6f5f1;
    margin-top: 20px;
    margin-bottom: 20px;
}