/* Main page settings START */
.main-questions {
    padding: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 21px;
    border-radius: 10px;
    border: lightgrey solid 1px;
}
.main-question:hover {
    box-shadow:  3px 3px 2px #bbbab7, 
    -3px -3px 2px #ffffff;
    border: none;
}
.main-question:active {
    box-shadow:  inset 3px 3px 2px #bbbab7, 
    inset -3px -3px 2px #ffffff;
    border: none;
}
/* Main page settings END */

/* Detail page settings START */
.qanda-question-category {
    font-weight: normal;
    font-size: 13px;
    font-weight: 100;
}
.qanda-question {
    font-size: 34px;
    line-height: 1.5;
}
.qanda-answer {
    color : #9300d3;
    font-size: 21px;
    font-weight: bold;
    white-space: pre-line;
}
.qanda-date {
    font-size: 13px;
    font-weight: normal;
}
label {
    /* input field의 label 안보이도록 */
    display: none;
}

/* Create page settings START */
.inputfield-answer {
    border-radius:3px;
    width: 80%;
    padding: 10px;
    background-color: #f6f5f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.inputfield-answer.textarea {
    box-shadow:  inset 3px 3px 2px #bbbab7, 
    inset -3px -3px 2px #ffffff;
}
/* .answerInput.textarea:active {
    box-shadow:  inset 4px 4px 3px #bbbab7, 
    inset -4px -4px 3px #ffffff;
} */
/* Create page settings END */



@media (max-width: 768px) {
    /* Main page settings START */
    .main-questions {
        font-size: 4vw;
    }
    /* Main page settings END */

    /* Detail page settings START */
    .qanda-question-category {
        font-size: 2.5vw;
    }
    .qanda-question {
        font-size: 5vw;
    }
    .qanda-answer {
        font-size: 4vw;
    }
    .qanda-date {
        font-size: 2.5vw;
    }
    /* Detail page settings END */

    /* Create page settings START */
    .inputfield-answer {
        width: 90%;
    }
    /* Create page settings END */


}