/* Global setting START */
.ci {
    width: 80px;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
.helptext {
    font-size: 13px;
}
.block-spacing {
    height: 30px;
}
.highlight {
    font-weight: bold;
    background: #9300d3;
    background: linear-gradient(
        180deg,rgba(255,255,255,0) 65%, #9300d37f 35%);
}
.top-block {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: black solid 2px;
}
.color-stressed {
    color: #9300d3;
    font-weight: bold;
}
.enlarge-150 {
    font-size: 150%;
}
.page-title {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 34px;
}
.block-title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 45px;
}
.block-subtitle {
    font-size: 17px;
}
.form-group {
    padding-top: 3px;
}
.all-blocks {
    border-radius: 10px;
    background: #f6f5f1;
    box-shadow:  5px 5px 3px #bbbab7, 
    -5px -5px 3px #ffffff;
}
.all-blocks:active {
    border-radius: 10px;
    background: #f6f5f1;
    box-shadow: inset 5px 5px 3px #bbbab7, 
    inset -5px -5px 3px #ffffff;
}
.form-control {
    background-color: #f6f5f1;
}
.form-control:focus {
    background-color: #f6f5f1;
}
.btn {
    border-radius: 30px;
    box-shadow: 2px 2px 1px #bbbab7, 
    -2px -2px 1px #ffffff;
}
.btn:active {
    box-shadow: inset 2px 2px 1px #bbbab7, 
    inset -2px -2px 1px #ffffff;
}
.major-button {
    background-color: #9300d3;
    color : #f6f5f1;
}
.major-button:hover {
    color: #f6f5f1;
}
.minor-button {
    background-color: #f6f5f1;
    color : black;
 }
.footer {
    height: 40px;
    background-color: lightgrey;
    margin : auto;
}


.my-archive {
    font-size: 25px;
    font-weight: bold;
}
/* Global setting END */

/* 링크 관련 START */
.all-links {
    text-decoration: none !important;
}
a {
    color:black;
  }         
a:visited {
    color:black;
} 
a:hover {
    color:black;
    text-decoration: none !important;
}  
a:active {
    color:black;
}
/* 링크 관련 END */

/* Main page settings START */
.archive-title {
    font-size: 55px;
    font-weight: 800;
}
.archive-icon {
    font-size: 21px;
}
.archive-subtitle {
    font-size: 21px;
    padding-bottom: 10px;
}
.pagination-buttons {
    border-radius: 20px;
    margin: 3px;
    padding: 5px;
}
/* Main page settings END */

.only-authuser {
    margin-bottom: 30px;
}

/* Detail page settings START */
.detail-title {
    font-size: 44px;
    border-bottom: 2px black solid;
    font-weight: 100;
}
.detail-subtitle {
    font-size: 17px;
    padding-bottom: 10px;
}
.go-to-main-button {
    padding: 5px;
    border-radius: 10px;
    font-size: 34px;
}
.go-back-img {
    width: 80%;
    height: auto;
}
.detail-dates {
    padding-top: 10px;
}
.detail-created, .detail-modified {
    font-size: 13px;
}
.detail-contents {
    font-size: 17px;
    line-height: 1.75;
    white-space: pre-line;
}
/* Detail page settings END */

.notification {
    position: absolute;
    top: -10px;
    right: -20px;
    padding: 5px 10px;
    border-radius: 50%;
    background: none;
    color: white;
    font-size: 20px;
}

/* Archive-input settings START */
/* .form-control:focus {
    border-color: none;
    box-shadow: none;
} */
.monthpickerinput {
    background-color: #f6f5f1 !important;
    box-shadow: inset 2px 2px 1px #bbbab7, inset -2px -2px 1px #ffffff;
    border: none;
    border-radius: 3px;
}

/* Archive-input settings END */
.manual {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.manual-button {
    border-radius: 5px;
    box-shadow:  2px 2px 1px #bbbab7, 
    -2px -2px 1px #ffffff;
    font-size: 13px;
    font-weight: bold;
}


/* Welcome page */
.welcome-title {
    font-size: 47px;
}
.welcome-message {
    font-size: 21px;
    line-height: 1.75;
}
.welcome-img {
    width: 150px;
    height: auto;
}
.welcome-row {
    /* display: flex; 이건 디폴트 값 */
    align-items: center;
}
.welcome-content {
    font-size: 34px;
    font-weight: bold;
}
.welcome-gomin {
    font-size: 29px;
    font-style: italic;
}
.welcome-stress {
    font-weight: 800;
    background: linear-gradient(
        180deg,rgba(255,255,255,0) 65%, #9300d37f 35%);
}
.welcome-very-stress {
    font-weight: 800;
    color: #9300d3;
    font-size: 29px;
}
#ci-landing {
    height: 65px;
    width: auto;
    margin-top: -10px;
}
/* File Upload (Image) START */
.custom-file-label {
    background-color: #f6f5f1 !important;
}
.custom-file-label::after {
    content: "사진 넣기" !important;
}
.default-img {
    display: none;
}
/* File Upload (Image) END */

.card {
    background-color: #f6f5f1;
    border-radius: 10px;
}
.mobile-only {
    display: none;
}
@media (max-width: 768px) {
    .pc-only {
        display: none;
    }
    .mobile-only {
        display: inline;
    }

    /* Global */
    .page-title {
        font-size: 5vw;
    }
    .helptext {
        font-size: 2.5vw;
    }
    #navbar-toggler-custom-icon {
        width: 30px;
        height: auto;
    }
    /* Welcome page */
    .welcome-title {
        font-size: 8vw;
    }
    #ci-landing {
        height: 14vw;
        width: auto;
        margin-bottom: -10px;
        margin-top: 10px;
    }
    .welcome-img {
        width: 25vw;
        height: auto;
    }
    .welcome-row {
        /* display: flex; 이건 디폴트 값 */
        align-items: center;
    }
    .welcome-content {
        font-size: 6vw;
        font-weight: bold;
    }
    .welcome-very-stress {
        font-size: 6vw;
    }
    .welcome-gomin {
        font-size: 6vw;
    }

    /* Hi, I'm... page */
    .welcome-message {
        font-size: 4vw;
    }

    /* Main page settings START */
    .archive-title {
        font-size: 8vw;
        font-weight: bold;
    }
    .archive-icon {
        font-size: 4vw;
    }
    .archive-subtitle {
        font-size: 4vw;
        padding-bottom: 10px;
    }
    /* Main page settings END */

    /* Detail page settings START */
    .detail-title {
        font-size: 5vw;
        /* 여기 font-size는 main으로 돌아가기 아이콘 사이즈 */
    }
    .detail-subtitle {
        font-size: 3.5vw;
    }
    .detail-created, .detail-modified {
        font-size: 2.5vw;
    }
    .detail-contents {
        font-size: 3.5vw;
    }
    .update-delete {
        text-align: center
    }
    /* Detail page settings END */ 


}