.ci {
    width: 80px;
    height: auto;
}
html {
    scroll-behavior: smooth;
}

.top-block {
    background-color: #f6f5f1;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: black solid 2px;
    /* border-radius: 10px; */
    /* box-shadow: inset 8px 8px 8px #bbbab7, 
    inset -8px -8px 8px #ffffff; */
}
.page-title {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 29px;
    font-weight: bold;
}
.block-title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 45px;
}
.block-subtitle {
    font-size: 17px;
}
.form-group {
    padding-top: 3px;
}
.all-blocks {
    border-radius: 10px;
    background: #f6f5f1;
    box-shadow:  5px 5px 3px #bbbab7, 
    -5px -5px 3px #ffffff;
}
.all-blocks:active {
    border-radius: 10px;
    background: #f6f5f1;
    box-shadow: inset 5px 5px 3px #bbbab7, 
    inset -5px -5px 3px #ffffff;
}
.form-control {
    background-color: #f6f5f1;
}
.form-control:focus {
    background-color: #f6f5f1;
}
/* .all-inputs {
    background-color: #ffffff;
    box-shadow:inset 0 1px 1px rgba(147, 0, 211,0.08),
    inset 0 2px 2px rgba(147, 0, 211,0.12),
    inset 0 2px 2px rgba(147, 0, 211,0.16),
    inset 0 2px 2px rgba(147, 0, 211,0.15)
} */
/* .all-buttons {
    box-shadow:0 1px 1px rgba(147,0,211,0.08),
    0 3px 3px rgba(147,0,211,0.12),
    0 3px 3px rgba(147,0,211,0.16),
    0 5px 5px rgba(147,0,211,0.4)
} */
.all-buttons {
    border-radius: 3px;
    background: #9300d3;
    box-shadow:  2px 2px 1px #bbbab7, 
    -2px -2px 1px #ffffff;
}
.all-buttons:active {
    border-radius: 3px;
    background: #9300d3;
    box-shadow:  inset 2px 2px 1px #bbbab7, 
    inset -2px -2px 1px #ffffff;
}
.btn-text {
    color: #f6f5f1;
}
.helptext {
    font-size: 13px;
}
.footer {
    height: 40px;
    background-color: lightgrey;
    margin : auto;
}
.block-spacing {
    height: 30px;
}
/* Link-related stylings */
.all-links {text-decoration: none !important;}
a {color:black;}         
a:visited {color:black;} 
a:hover {
    color:black;
    text-decoration: none !important;
}  
a:active {color:black;}

.my-archive {
    font-size: 25px;
    font-weight: bold;
}

/* Some other CSS settings */

/* Archive-main settings START */
.archive-title {
    /* padding-left: 20px; */
    font-size: 47px;
    font-weight: bold;
}
.archive-icon {
    font-size: 20px;
}
.archive-subtitle {
    font-size: 18px;
    padding-bottom: 10px;
}
/* Archive-main settings END */

.only-authuser {
    margin-bottom: 30px;
}

/* Archive-detail settings START */
.detail-title {
    font-size: 44px;
    /* font-size: 45px; */
    font-weight: bold;
    border-bottom: 2px black solid;
    padding-bottom: 10px;
}
#detail-title {
    font-weight: bold;
}
#detail-subtitle {
    font-size: 17px;
}
.detail-dates {
    padding-top: 10px;
}
.detail-created {
    font-size: 13px;
}
.detail-modified {
    font-size: 13px;
}
.detail-contents {
    font-size: 17px;
    line-height: 1.75;
    white-space: pre-line;
}
/* Archive_detail settings END */

.menial-buttons {
   border-radius: 3px;
   background: #f6f5f1;
   box-shadow:  2px 2px 1px #bbbab7, 
   -2px -2px 1px #ffffff;
}
.menial-buttons:active {
    border-radius: 3px;
    box-shadow:  inset 2px 2px 1px #bbbab7, 
    inset -2px -2px 1px #ffffff;
}
.menial-btn-text {
    color: black;
}
/* Archive-input settings START */
.form-control:focus {
    border-color: none;
    box-shadow: none;
}
.monthpickerinput {
    background-color: #f6f5f1 !important;
}
.monthpickerinput:focus {
    border: #9300d3 solid 1px !important;
}
/* Archive-input settings END */
.manual {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.manual-button {
    border-radius: 5px;
    box-shadow:  2px 2px 1px #bbbab7, 
    -2px -2px 1px #ffffff;
    font-size: 13px;
    font-weight: bold;
}

.highlight {
    background: #9300d3;
    background: linear-gradient(
        180deg,rgba(255,255,255,0) 55%, #9300d37f 45%);
}

/* Welcome page */
.welcome-title {
    font-size: 47px;
}
.welcome-message {
    font-size: 21px;
}
.welcome-img {
    width: 150px;
    height: auto;
}
.welcome-row {
    /* display: flex; 이건 디폴트 값 */
    align-items: center;
}
.welcome-content {
    font-size: 34px;
    font-weight: bold;
}
.welcome-stress {
    font-weight: bold;
    color: #9300d3;
}
.welcome-very-stress {
    font-weight: bold;
    color: #9300d3;
    font-size: 29px;
}
#ci-landing {
    height: 65px;
    width: auto;
    margin-top: -10px;
}
/* File Upload (Image) START */
.custom-file-label {
    background-color: #f6f5f1 !important;
}
.custom-file-label::after {
    content: "사진 넣기" !important;
}
.default-img {
    display: none;
}
/* File Upload (Image) END */

.mobile-only {
    display: none;
}
@media (max-width: 768px) {
    .pc-only {
        display: none;
    }
    .mobile-only {
        display: inline;
    }

    /* Global */
    .page-title {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 6vw;
        font-weight: bold;
    }
    #navbar-toggler-custom-icon {
        width: 30px;
        height: auto;
    }
    /* Welcome page */
    .welcome-message {
        line-height: 1.75 !important;
    }
    .welcome-title {
        font-size: 8vw;
    }
    #ci-landing {
        height: 14vw;
        width: auto;
        margin-bottom: -10px;
        margin-top: 10px;
    }
    .welcome-img {
        width: 25vw;
        height: auto;
    }
    .welcome-row {
        /* display: flex; 이건 디폴트 값 */
        align-items: center;
    }
    .welcome-content {
        font-size: 6vw;
        font-weight: bold;
    }
    .welcome-very-stress {
        font-size: 6vw;
    }

    /* Hi, I'm... page */
    .welcome-message {
        font-size: 21px;

    }

    /* Archive-detail pages START */
    .detail-title {
        font-size: 5vw;
        /* 여기 font-size는 main으로 돌아가기 아이콘 사이즈 */
        font-weight: bold;
        border-bottom: 2px black solid;
        padding-bottom: 10px;
    }
    #detail-title {
        font-weight: bold;
        font-size: 6.5vw;
    }
    .go-to-main {
        display: flex;
        align-items: center;
    }
    #detail-subtitle {
        font-size: 3.5vw;
    }
    .detail-dates {
        padding-top: 10px;
    }
    .detail-created {
        font-size: 2.5vw;
    }
    .detail-modified {
        font-size: 2.5vw;
    }
    .detail-contents {
        font-size: 17px;
        line-height: 1.75;
        white-space: pre-line;
    }
    .update-delete {
        text-align: center
    }
    /* Archive_detail settings END */ 

    /* Archive-main settings START */
    .archive-title {
        /* padding-left: 20px; */
        font-size: 8vw;
        font-weight: bold;
    }
    .archive-icon {
        font-size: 20px;
    }
    .archive-subtitle {
        font-size: 3.5vw;
        padding-bottom: 10px;
    }
/* Archive-main settings END */
}