.login-block {
    border-radius: 10px;
    border: lightgrey 2px solid;
    padding-top: 10px;
    padding-bottom: 20px;
}
#register-here {
    text-decoration: underline;
    color: #9300d3;
}
#usernmae-means-id {
    margin-top: -15px;
}