<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        $('#ED_radio_free').click(function(){
            $('#ED_format_simple').hide();
            $('#ED_format_free').show();
        });
        $('#ED_radio_bullet').click(function(){
            $('#ED_format_free').hide();
            $('#ED_format_simple').show();
        });
        });

        // 간략하게 기록 
        $(document).ready(function(){
            var addNum = 0;
            $("#ED_addButton").click(function(){
                var currentId = $("#ED_format_simple"+addNum.toString()); 
                var newId = currentId.clone(); 
                newId.attr('value', '');
                newId.attr('class', "ED_addedLine");
                newId.attr('id', "ED_format_simple"+(addNum+1).toString()).prependTo(".ED_addedHere");
                addNum = addNum +1;
            });
            });
     
    </script>
    <title>{% block title %}BASE{% endblock %}</title>
</head>
<body>
    <div class="container"> 
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>