{% load static %}
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171633126-1"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="bootstrap.bundle.min.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171633126-1');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">

    {% block css %}
    {% endblock %}


    <title> {% block title %}{% endblock %} </title>
    
    {% load bootstrap4 %}
        <!-- {% bootstrap_css %} -->
    {% bootstrap_javascript jquery='full' %}

    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-secondary bg-secondary nav-bar">
        <a href="/" class='navbar-brand'>
            <img class="ci" src="{% static 'mvp/images/ci.png' %}">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"> <!--여기 navbarMenu는 임의로 설정-->
            <span class="navbar-light navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item"><a href="/hiim" class="nav-link">Hi, I'm...</a></li>
                <li class="navbar-item"><a href="/logout" class="nav-link">로그아웃</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10">
                {% block content %}
                {% endblock %}
            </div>
        </div> 
    </div>

</body>
</html>