{% load static %}
{% static 'images' as baseUrl %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    {% block css %}
    <!-- 추가적인 css 파일을 위한 block -->
    {% endblock %}

    <title> {% block title %}{% endblock %} </title>

    {% load bootstrap4%}

    {% block extrahead %}
    <!-- 하루하루 create page에서 datepicker 쓸 때 쓰입니다! -->
    {% endblock %}
</head>
<body>
    <!-- 네비게이션 바 START -->
    <nav class="navbar navbar-default navbar-expand-lg navbar-secondary bg-secondary nav-bar">
        <a href="/" class='navbar-brand'>
            <img class="ci" src="{% static 'mvp/images/ci.png' %}">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"><img id="navbar-toggler-custom-icon" src="{% static 'mvp/images/others.png' %}"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item"><a href="/hiim" class="nav-link">하이아임?</a></li>
                <li class="navbar-item"><a href="/logout" class="nav-link">로그아웃</a></li>
            </ul>
        </div>
    </nav>
    <!-- 네비게이션 바 END -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                {% block content %}
                {% endblock %}
            </div>
        </div> 
    </div>

</body>
</html>