{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171633126-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171633126-1');
</script>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'everyday/everyday.css' %}">
    
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>

    {% load bootstrap4 %}

    {% block extrahead %}
    {% endblock %}
    
    <!-- 달력이 두개 나오는 문제가 아래를 코멘트 처리 하니 해결되었다. -->

    {% block extra_style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary nav-bar">
        <a href="/" class='navbar-brand'>
            <img class="ci" src="{% static 'mvp/images/ci.png' %}">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"> <!--여기 navbarMenu는 임의로 설정-->
            <span class="navbar-toggler-icon"><img id="navbar-toggler-custom-icon" src="{% static 'mvp/images/others.png' %}"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item"><a href="/hiim" class="nav-link">Hi, I'm...</a></li>
                <li class="navbar-item"><a href="/logout" class="nav-link">로그아웃</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10">
                {% block content %}
                {% endblock %}
            </div>
        </div> 
    </div>


</body>
</html>