{% extends 'main/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %} Welcome! {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col top-block">
        <h1 class="welcome-title">나에 대한 모든 기록, <img class="ci" id="ci-landing" src="{% static 'mvp/images/ci.png' %}"></h1>
    </div>
</div>

<div class="block-spacing"></div>

<div class="row">
    <div class="col">
        <div class="welcome-message">
            <p>안녕하세요, 다른 누구도 아닌 <span class="welcome-stress">{{thisUser.first_name}}</span>님! 반갑습니다.
                <br> 하이아임을 간단히 소개해드릴게요.</p>
            
            <p><span class="welcome-very-stress">왜?</span><br>
                하이아임 팀은, 하이아임을 왜 만들었을까요? <br>
                저희가 항상 고민하는 게 있습니다. '<span class="welcome-stress">어떻게 하면 각 개인이 보다 주체적이고 자기다운 삶을 살 수 있을까?</span>'<br>
                이 질문이 바로 하이아임을 깊숙이 파고들었을 때, 하이아임의 모든 치장을 벗겨냈을 때, 하이아임을 끝까지 파고들었을 때 유일하게 남는 <span class="welcome-stress">알맹이</span>에요.
            </p>

            <p><span class="welcome-very-stress">어떻게?</span><br>
                그럼 저 질문에 대한 답은 뭘까요? 저희가 내린 답은 이거예요.<br>
                개인이 주체적이고 자기다운 살기 위해서는, 무엇보다 <span class="welcome-stress">자신에 대한 깊은 이해</span>가 필요합니다. 내가 어떤 사람인지, 좋아하는 게 뭔지, 
                이루고 싶은 게 뭔지, 어떤 삶을 살고 싶은지... 이렇게 다른 무엇보다 '<span class="welcome-stress">나</span>'에 대해 잘 알아야 '나다운' 삶을 살 수 있지 않을까요?<br>
                그럼 어떻게 하면 자신에 대해 더 깊이 이해할 수 있을까요? 이 질문에 대해 저희가 내린 답은 바로 '<span class="welcome-stress">기록</span>'입니다.
                자신에 대한 다양한 것들을 기록하다보면 자신을 더 잘 이해할 수 있을 거라고 믿어요.
            </p>

            <p><span class="welcome-very-stress">뭘?</span><br>
                나에 대한 기록? 그럼 뭘 기록해야 하는 걸까요?<br>
                <span class="welcome-stress">무엇이든 상관없어요!</span>기록의 대상은 평소 내가 가진 <span class="welcome-stress">생각</span>일 수도 있고, 
                고된 삶의 한 줄기 빛과 같은 <span class="welcome-stress">취미</span>일 수도 있고, 하루하루의 소소한 <span class="welcome-stress">일상</span> 수도 있어요. 
                나에게 큰 충격을 준 <span class="welcome-stress">책</span>일 수도 있고, 도저히 잊혀지지 않는 <span class="welcome-stress">영화/span>s일 수도, 
                혹은 오랫동안 품어온 <span class="welcome-stress">버킷리스트</span>일 수도 있고, ... 아, {{thisUser.first_name}}님에 대해 기록할 수 있는 건 정-말 많아요. <br>
                그리고 이러한 것들은 <span class="welcome-stress">생생하게 기록</span>해두지 않으면 금세 사라지고 맙니다. 
            </p>

            <p>
                하이아임은 이러한 철학 위에 세워진 서비스예요. <br>
                '기록을 통해 나 자신을 깊이 이해하고, 궁극적으로 주체적이고 나다운 삶을 산다.'<br>
                공감하시나요?
            </p>

            <p>자 그럼, 세상에 단 하나밖에 없는 {{thisUser.first_name}}님이 어떤 사람인지 본격적으로 기록하고 이해해보죠!</p>
            
            <a href="/"><button class="btn btn-primary">Hi, I'm {{thisUser.first_name}}</button></a>
        </div>
    </div>
</div>
<!-- 
<div class="row">
    <div class="col text-center">
        <button class="btn btn-primary all-buttons">
            <a href="/usermain/"><span class="btn-text">없는 버튼</span></a>
        </button>
    </div>
</div> -->
<div class="block-spacing"></div>
<div class="block-spacing"></div>
{% endblock %}