{% extends 'main/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %} Welcome! {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col top-block">
        <h1 class="welcome-title">나에 대한 모든 기록, <img class="ci" id="ci-landing" src="{% static 'mvp/images/ci.png' %}"></h1>
    </div>
</div>

<div class="block-spacing"></div>

<div class="row">
    <div class="col">
        <div class="welcome-message">
            반가워요!🖐<br><br>
            저희는 언제나 '<span class="strong">어떻게 하면 한 개인이 보다 주체적이고 뚜렷해질 수 있을지</span>'에 대해 깊이 고민하고 있습니다. 
            그리고 이에 대한 답으로 '개인이 보다 <span class="strong">주체적</span>으로 살기 위해서는 자신을 잘 <span class="strong">이해</span>해야 하고, 
            그러기 위해서는 자신에 대한 <span class="strong">기록</span>을 해야 한다'는 믿음을 갖게 되었어요.<br><br>
            거꾸로 말해볼까요. 자신에 대해 다양한 <span class="strong">기록</span>을 함으로써 한 개인은 자신이 어떤 사람인지 잘 <span class="strong">이해</span>할 수 있고, 
            이를 통해 <span class="strong">주체적</span>으로 살 수 있다고 믿습니다.<br>
            뿐만 아니라, 이렇게 기록한 것을 잘 표현한다면 개인의 '<span class="strong">브랜딩</span>'도 이뤄낼 수 있다고도 믿습니다. 
            '<span class="strong">세상에는 뚜렷하고 주체적인 개인이 더 많아져야 한다</span>'가 저희의 철학이거든요.<br><br>
            bla bla bla...<br><br>
            HII'M은 <span class="strong">도구</span>입니다. 이걸 어떻게 쓰느냐에 따라 그 효용이 극대화될 수도, 혹은 0에 그칠 수도 있어요. 
            부디 저희의 서비스가 여러분께서 <span class="strong">스스로에 대해 잘 기록하고, 깊이 이해하고, 
            나아가 보다 주체적이고 뚜렷한 개인으로 거듭나는 데</span> 기여했으면 하는 바람입니다.
            그럼, 알차게 써주세요! :)<br><br>
        </div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <button class="btn btn-primary all-buttons">
            <a href="/login/"><span class="btn-text">HII'M 시작하기</span></a>
        </button>
    </div>
</div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>
{% endblock %}