{% extends 'main/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %} Welcome! {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col top-block">
        <h1 class="welcome-title">나에 대한 모든 기록, <img class="ci" id="ci-landing" src="{% static 'mvp/images/ci.png' %}"></h1>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-10">
        <div class="row welcome-row">
            <div class="col col-4 text-center">
                <img class="welcome-img" src="{% static 'mvp/images/writing.png' %}">
            </div>
            <div class="col col-8 text-center">
                <div class="welcome-content">나에 대한 다양한 <span class="highlight">기록</span>을 통해,</div>
            </div>
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-10">
        <div class="row welcome-row">
            <div class="col col-8 text-center">
                <div class="welcome-content">나 자신을 보다 깊이 <span class="highlight">이해</span>할 수 있고,</div>
            </div>
            <div class="col col-4 text-center">
                <img class="welcome-img" src="{% static 'mvp/images/myself.png' %}">
            </div>
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row justify-content-center">
    <div class="col col-10">
        <div class="row welcome-row">
            <div class="col col-4 text-center">
                <img class="welcome-img" src="{% static 'mvp/images/maincharacter.png' %}">
            </div>
            <div class="col col-8 text-center">
                <div class="welcome-content">궁극적으로는 <span class="highlight">주체적이고 뚜렷한</span><br> 개인이 될 수 있습니다.</div>
            </div>
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row">
    <div class="col text-center">
        <button class="btn btn-primary all-buttons">
            <a href="/register/"><span class="btn-text">HII'M 시작하기</span></a>
        </button>
    </div>
</div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>
{% endblock %}