{% extends 'main/base.html' %}
{% block title %} Hi, I'm {{thisUser.name}}! {% endblock %}   

{% block content %}
<h1>{{thisUser.name}}</h1>
<h3>{{thisUser.background}}</h3>
<h3>{{thisUser.introduction}}</h3>
<a href={{thisUser.insta}}>인스타그램</a>
<a href={{thisUser.facebook}}>페이스북</a>
<a href={{thisUser.linkedin}}>링크드인</a>  
<a href={{thisUser.youtube}}>유튜브</a>
<a href={{thisUser.blog}}>블로그</a>
<h1>나의 페이지라면 +추가하기 버튼을 이 페이지에 달자 각 아카이브에 들어가서 거기서 다시 추가하기 페이지로 가는 건 번거롭다. depth를 줄이자!</h1>
<p>+ 노션, 브런치, 깃허브, 사운드클라우드, 그 외(로고는 기본프사모양)?</p>
<a href="http://127.0.0.1:8000/dansang/dansangmain">단상 : 블라블라블라블라</a>
<a href="http://127.0.0.1:8000/dansang/dansanginput">단상 추가하기</a>
<a href="http://127.0.0.1:8000/history/historymain">역사 : 블라블라블라블라</a>
<a href="http://127.0.0.1:8000/history/historyinput">역사 추가하기</a>
<a href="http://127.0.0.1:8000/everyday/everydaymain">에브리데이 : 블라블라블라블라</a>
<a href="http://127.0.0.1:8000/everyday/everydayinput">에브리데이 추가하기</a>
{% endblock %}