{% extends 'main/everyday_base.html' %}
{% load static %}

{% block css %}
<!-- 추가적인 css 파일 -->
{% endblock %}

{% block title %} 하루하루 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!-- block-spacing이라는 class는, 간격을 띄우기 위해 끼워넣는 빈 row입니다 -->
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col-10 text-center">
        <span class="archive-title">하루하루</span><span class="archive-icon">📅</span>
    </div>
    <div class="col-12 text-center">
        <div class="archive-subtitle">세 개의 키워드로 기억하는 오늘.   
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing pc-only"></div>

<!-- 이번 달 '하루하루' 기록양을 나타내는 Progress bar START -->
<div class="row justify-content-center">
    <div class="col">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="">
    <span class="sr-only">60% Complete</span>
            </div>
        </div>
    </div>
</div>
<!-- Progress bar END -->

<div class="block-spacing"></div>
<div class="block-spacing pc-only"></div>

<!-- 달력 START -->
<div class="row justify-content-center">
    <div class="col-12">
        <table id="mycalendar">
            <!-- 달력에서 yyyy년 mm월 표기하는 부분 -->
            <tr>
                <td class="prevNext">
                    <div class="btn prevNextButtons" onclick="prevCalendar()">⬅</div>
                </td>
                <td id="yearMonth" colspan="5">yyyy년 m월</td>
                <td class="prevNext">
                    <div class="btn prevNextButtons" onclick="nextCalendar()">➡</div>
                </td>
            </tr>
            <!-- 달력에서 요일 표기하는 부분 -->
            <tr>
                <td class='sevenDays' id='sun'>일</td>
                <td class='sevenDays'>월</td>
                <td class='sevenDays'>화</td>
                <td class='sevenDays'>수</td>
                <td class='sevenDays'>목</td>
                <td class='sevenDays'>금</td>
                <td class='sevenDays' id='sat'>토</td>
            </tr> 
        </table>
    </div>    
</div> 
<!-- 달력 END -->

<!-- 아래 사용법은 아직 구상중입니다! -->
<!-- <div class="manual">
    <button class="btn manual-button" id="manual-dansang">
        📋 사용법
    </button>
</div> -->

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<script>
    // everyday.js에 넘겨줘 활용할 데이터들입니다.
    var events = [
        {% for k in todays %}
        {
            keywords : `{{ k.kw1|safe }}<br>{{ k.kw2|safe }}<br>{{ k.kw3|safe }}`,
            emoji : `{{k.emoji}}`,
            dates : `{{ k.when|date:'Y-m-d' }}`,
            slug : `{{k.slug}}`,
        },
        {% endfor %}
    ]
    var userId = `{{thisUser.authuser_id}}`;
    var thisMonth = `{{countThisMonth}}`
</script>
<script src="{% static '/everyday/everyday.js' %}"></script>
{% endblock %}
