{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'style_everyday.css' %}">
{% endblock %}

{% block title %} 모든 오늘 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row">
    <div class="col col-12">
        <div class="detail-title">
            {{today.when}}
            <img id="calendar-img" src="/images/calendar.png">
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="detail-contents">
            {{today.what|safe}}
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<form method='post' class="form-group">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col col-4">
            <div class="row justify-content-center">
                <div class="col col-5">
                    <button class='btn menial-buttons button-update'>
                        <span class="menial-btn-text"><a href="{% url 'update' today.authuser_id today.slug %}">
                            수정하기
                        </a></span>
                    </button>
                </div>
                <div class="col col-5">
                    <button class='btn menial-buttons button-delete'>
                        <span class="menial-btn-text"><a href="{% url 'delete' today.authuser_id today.slug %}">
                            삭제하기
                        </a></span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</form>

<div class="block-spacing"></div>
{% endblock %}