{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'everyday/everyday.css' %}">
{% endblock %}

{% block title %} 하루하루 {% endblock %}

{% load crispy_forms_tags %}

{% block extrahead %}
<!-- datepicker 설정 -->
{{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-11">
        <div class="page-title">📝오늘 무슨 일이 있었어요?</div>
    </div>
</div>    

<form method="post" class="form-group" enctype="multipart/form-data">{% csrf_token %}
    <!-- 날짜 선택하는 부분 -->
    <div class="row">
        <div class="col-lg-3 col-sm-12 ">
            <div class="helptext">👀 <span class="highlight">날짜를 잘 확인해주세요!</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div>
                {{form.when|as_crispy_field}}
            </div>
        </div>
    </div>

    <!-- 피씨에서 키워드 및 이모지 입력하는 부분 -->
    <div class="row pc-only">
        <!-- 오늘의 키워드 -->
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <div class='guidance-text'>💻 오늘의 키워드</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 keywordInputs">{{form.kw1|as_crispy_field}}</div>
                <div class="col-4 keywordInputs">{{form.kw2|as_crispy_field}}</div>
                <div class="col-4 keywordInputs">{{form.kw3|as_crispy_field}}</div>
            </div>
        </div>
        <!-- 오늘의 이모지 -->
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <div class='guidance-text'>📱 오늘의 이모지<span class="pc-only helptext"> (💡 Windows "윈도우키 + ." / iOS "Ctrl + Cmd + Spacebar")</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">{{form.emoji|as_crispy_field}}</div>
            </div>
        </div>
    </div>

    <!-- 모바일에서 키워드 및 이모지 입력하는 부분 -->
    <div class="row mobile-only">
        <!-- 오늘의 키워드 -->
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class='guidance-text'>💻 오늘의 키워드</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 keywordInputs">{{form.kw1|as_crispy_field}}</div>
                <div class="col-4 keywordInputs">{{form.kw2|as_crispy_field}}</div>
                <div class="col-4 keywordInputs">{{form.kw3|as_crispy_field}}</div>
            </div>
        </div>
        <!-- 오늘의 이모지 -->
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class='guidance-text'>📱 오늘의 이모지<span class="pc-only helptext"> (💡 Windows "윈도우키 + ." / iOS "Ctrl + Cmd + Spacebar")</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div>{{form.emoji|as_crispy_field}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 내용 입력하는 부분 -->
    <div class="row">
        <div class="col-12">
            <div class="guidance-text">🖊 회고</div>
        </div>
        <div class="col" id="what">
            <div>{{form.what|as_crispy_field}}</div>
        </div>
    </div>
    
    <!-- 이미지 추가하는 부분 -->
    <div class="row">
        <div class="col-lg-3">
            <div class="everyday-img-input" id="everday-img-input-1">{{form.img1|as_crispy_field}}</div>
        </div>
        <div class="col-lg-3">
            <div class="everyday-img-input" id="everday-img-input-2">{{form.img2|as_crispy_field}}</div>
        </div>
        <div class="col-lg-3">
            <div class="everyday-img-input" id="everday-img-input-3">{{form.img3|as_crispy_field}}</div>
        </div>
    </div>
    
    <br>
    <button type='submit' class='btn minor-button'>오늘 하루 저장</button>
</form>

<script src="{% static '/everyday/everyday_placeholder.js' %}"></script>
{% endblock %}

