{% extends 'main/everyday-base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'everyday/everyday.css' %}">

{% endblock %}

{% block extrahead %}

{% endblock %}

{% block title %} 지나갈 오늘 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row block-spacing"></div>

<div class="row justify-content-center top-block">
    <div class="col col-10 text-center">
        <span class="archive-title">지나갈 오늘</span><span class="archive-icon">📅</span>
    </div>
    <div class="col col-12 text-center">
        <div class="archive-subtitle">일상은 추억이 되거나, 사라진 기억이 되거나.   
        </div>
    </div>
</div>

<div class="block-spacing"></div>
<div class="block-spacing pc-only"></div>

<div class="row justify-content-center">

        <div class="col col-12">
            <table id="mycalendar" style="border-color:#3333FF ">
                <tr><!-- label은 마우스로 클릭을 편하게 해줌 -->
                    <td class="prevNext">
                        <button class="btn prevNextButtons pc-only" onclick="prevCalendar()">⬅</button>
                        <div class="prevNextButtons mobile-only" onclick="prevCalendar()">⬅</div>
                    </td>
                    <td id="tbCalendarYM" colspan="5">
                    yyyy년 m월</td>
                    <td class="prevNext">
                        <button class="btn prevNextButtons pc-only" onclick="nextCalendar()">➡</button>
                        <div class="prevNextButtons mobile-only" onclick="nextCalendar()">➡</div>
                    </td>
                </tr>
                <tr>
                    <td class='sevenDays' id='sun'>일</td>
                    <td class='sevenDays'>월</td>
                    <td class='sevenDays'>화</td>
                    <td class='sevenDays'>수</td>
                    <td class='sevenDays'>목</td>
                    <td class='sevenDays'>금</td>
                    <td class='sevenDays' id='sat'>토</td>
                </tr> 
            </table>
        </div>    

</div> 

<div class="manual">
    <button class="btn manual-button" id="manual-dansang">
        📋 사용법
    </button>
</div>

<div class="block-spacing"></div>
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<script>
    var events = [
        {% for k in todays %}
        {
            keywords : `{{ k.kw1|safe }}<br>{{ k.kw2|safe }}<br>{{ k.kw3|safe }}`,
            emoji : `{{k.emoji}}`,
            dates : `{{ k.when|date:'Y-m-d' }}`,
            slug : `{{k.slug}}`,
        },
        {% endfor %}
    ]
    var userId = `{{thisUser.authuser_id}}`;
</script>
<script src="{% static '/everyday/everyday.js' %}"></script>
{% endblock %}
