{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'everyday.css' %}">
{% endblock %}

{% block title %} 지나갈 오늘 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<!-- <div class="row">
    <div class="col col-12">
        <div class="detail-title">
            {{today.when}}<a href="/everyday/everydaymain">📅</a>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col col-12 detail-title">
        <div class="row">
            <div class="col col-10" id="detail-title">
                {{today.when}}
            </div>
            <div class="col col-2 text-right go-to-main">
                <a href="/everyday/everydaymain">📅</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    {% if today.img1 %}
    <div class="col col-3 text-center">
        <img src="{{today.img1.url}}" class="everyday-img" alt="🤔이미지가 어디갔지?"><br>
    {% else %}
        <img class="everyday-default-img" src="{% static 'mvp/images/ci.png' %}" style="display: none;">
    {% endif %}
    {% if today.img2 %}
    <div class="col col-3 text-center">
        <img src="{{today.img2.url}}" class="everyday-img" alt="🤔이미지가 어디갔지?"><br>
    {% else %}
        <img class="everyday-default-img" src="{% static 'mvp/images/ci.png' %}" style="display: none;">
    {% endif %}  
    {% if today.img3 %}
    <div class="col col-3 text-center">
        <img src="{{today.img3.url}}" class="everyday-img" alt="🤔이미지가 어디갔지?"><br>
    {% else %}
        <img class="everyday-default-img" src="{% static 'mvp/images/ci.png' %}" style="display: none;">
    {% endif %}      
</div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="detail-contents">
            {{today.what|safe}}
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<form method='post' class="form-group">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-8">
            <div class="row justify-content-center">
                <div class="col col-5 update-delete">
                    <button class='btn menial-buttons button-update'>
                        <span class="menial-btn-text"><a href="{% url 'update' today.authuser_id today.slug %}">
                            수정하기
                        </a></span>
                    </button>
                </div>
                <div class="col col-5 update-delete">
                    <button class='btn menial-buttons button-delete'>
                        <span class="menial-btn-text"><a href="{% url 'delete' today.authuser_id today.slug %}">
                            삭제하기
                        </a></span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</form>

<div class="block-spacing"></div>
{% endblock %}