{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'everyday/everyday.css' %}">
{% endblock %}

{% block title %} 하루하루 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="block-spacing"></div>
<div class="block-spacing"></div>

<div class="row">
    <div class="col col-12 detail-title">
        <div class="row">
            <div class="col col-10" id="detail-title">
                {{today.when}}
            </div>
            <div class="col col-2 text-right go-to-main">
                <a href="/everyday/everydaymain" class="go-to-main-button">
                    <img class="go-back-img" src="{% static 'mvp/images/backarrow.png' %}">
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-11 img-col text-center">
    {% if today.img1 %}
        <img src="{{today.img1.url}}" class="everyday-img" alt="🤔이미지가 어디갔지?"><br>
    {% else %}
        <img class="default-img" src="{% static 'mvp/images/ci.png' %}">
    {% endif %}
    </div>
    <div class="col-lg-4 col-sm-11 img-col text-center">
        {% if today.img2 %}
            <img src="{{today.img2.url}}" class="everyday-img" alt="🤔이미지가 어디갔지?"><br>
        {% else %}
            <img class="default-img" src="{% static 'mvp/images/ci.png' %}" style="display: none;">
        {% endif %}
    </div>
    <div class="col-lg-4 col-sm-11 img-col text-center">
        {% if today.img3 %}
            <img src="{{today.img3.url}}" class="everyday-img" alt="🤔이미지가 어디갔지?"><br>
        {% else %}
            <img class="default-img" src="{% static 'mvp/images/ci.png' %}">
        {% endif %}
    </div>   
</div>

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="detail-contents">
            {{today.what|safe}}
        </div>
    </div>
</div>

<div class="block-spacing"></div>

<form method='post' class="form-group">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-8">
            <div class="row justify-content-center">
                <div class="col col-5 update-delete">
                    <button class='btn menial-buttons button-update'>
                        <span class="menial-btn-text"><a href="{% url 'update' today.authuser_id today.slug %}">
                            수정하기
                        </a></span>
                    </button>
                </div>
                <div class="col col-5 update-delete">
                    <button class='btn menial-buttons button-delete'>
                        <span class="menial-btn-text"><a href="{% url 'delete' today.authuser_id today.slug %}">
                            삭제하기
                        </a></span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</form>

<div class="block-spacing"></div>

<script>
    $(document).on('click', '.button-delete', function(){
        return confirm('오늘 하루를 지울까요?');
    })
</script>
{% endblock %}